---
title: Software Development Glossary
---
{% include navigation.html %}

<div class="post">
  <h1>Software Development Glossary</h1>

  <p>Software development has a lot of strange terms that you hear around. This is a summary of my personal working definitions and origin stories. I do not know how many of the stories are real.</p>

  {% for item in site.data.glossary_terms %}
  <div class="post--glossary-card">
    <div class="post--glossary-card--content">

      <h3 class="post--glossary-card--content--title">{{ item.word }}</h3>
      <p>{{ item.definition }}</p>
      {% if item.story %}
        <div class="post--divider"></div>
        <small>{{ item.story }}</small>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
