.hero {
  display: flex;
  justify-content: flex-end;

  min-height: 100vh;

  &--text {
    margin: 40px;

    h1 {
      color: $accent-color;
      text-shadow: 3px 3px 1px rgba(0,0,0,0.75);
      span {
        font-size: 1.3em;
      }
    }

    &--site-links {
      a {
        position: relative;
        display: block;
        margin: 20px 0 20px 30px;
        font-size: 30px;
        padding: 20px;
        color: $background-color;
        border-radius: 2px;
        transition: all 0.25s ease;
        text-decoration: none;

        &::before {
          z-index: -2;
          background-color: rgba($text-color, 0.75);
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          height: 100%;
          border-radius: 2px;
          width: 100%;
          transition: all 0.25s ease;
        }

        &::after {
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          height:100%;
          border-radius: 2px;
          width: 0;
          background-color: $accent-color;
          transition: all 0.35s ease;
        }

        &:hover {
          -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);
          box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.75);

          &::before {
            background-color: $text-color;
          }

          &::after {
            width: 100%;
          }
        }
      }
    }

    &--personal-links {
      margin: 30px;
      li {
        list-style-type: none !important;
        margin: 10px;

        a {
          display: flex;
          align-items: center;

          font-size: 18px;

          img {
            filter: invert(100%);
            height: 1.5em;
            margin-right: 15px;
          }
        }
      }
    }
  }

  &--blog {
    flex-basis: 50%;
    margin-left: 30px;
    padding: 5px 60px 90px;
    background-color: #ebc559;
    -webkit-box-shadow: inset 8px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 8px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 8px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: rgba($background-color, 0.9);

    &--precomment {
      margin-bottom: 15px;
      font-style: italic;
    }

    &--recent-post {
      display: flex;
      flex-direction: column;
      justify-content: center;

      * {
        margin: 0 0 20px 0;
      }

      a {
        color: #002D76;
      }

      h1 {
      }

      h3 {
      }

      p {
        border-left: 2px solid rgba($background-color, 0.7);
        padding-left: 10px;
        font-size: 18px;
        line-height: 30px;
      }

      &--read-more {
        font-size: 20px;

        &:hover {
          color: #2e5eff;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .hero {
    justify-content: flex-start;

    &--blog {
      display: none;
    }
  }
}
