@import "code.scss";

$font-stack: 'Roboto', Helvetica, sans-serif;
$primary-color: #333;
$sidebar-color: $primary-color;
$sidebar-text-color: #CCCCCC;
$selected-text-color: #FFFFFF;
$sidebar-hover-color: #79CDCD;
$card-color: #EEEEEE;
$nav-width: 160px;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.caption {
  margin-top: 0px;
  font-style: italic;
}

.captionedImage {
  @extend %card;
  text-align: center;
  width: 100%;
}

%card {
  background-color: $card-color;
  box-shadow: 3px 5px $primary-color;
}

.author {
  font-style: italic;
}

li {
  display: list-item;
  list-style-type: disc !important;
}

.glossary-story {
  font-style: italic;
}

.card-divider {
  border: 0;
  background: #424242;
  height: 1px;
  width: 100%;
}
