$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$sidebar-color: $primary-color;
$sidebar-text-color: #CCCCCC;
$selected-text-color: #FFFFFF;
$sidebar-hover-color: #79CDCD;
$card-color: #EEEEEE;
$nav-width: 160px;

.current {
  color: $selected-text-color;
}

nav {
    height: 100%;
    width: $nav-width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $sidebar-color;
    overflow-x: hidden;
    padding-top: 20px;
}

nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: $sidebar-text-color;
    display: block;
    font-weight: normal;
}

nav a:hover {
    color: $sidebar-hover-color;
}

.mainpage {
  margin-left: $nav-width;
  padding: 0px 10px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

@media screen and (max-height: 450px) {
    nav {padding-top: 15px;}
    nav a {font-size: 18px;}
}

.blogCard {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: $card-color;
  margin-bottom: 30px;
  box-shadow: 3px 5px $primary-color;
}

a:hover .blogCard {
  background-color: $sidebar-hover-color
}

a {
  color: $primary-color;
  text-decoration-color: $primary-color;
}

a:hover {
  color: $sidebar-hover-color;
  text-decoration-color: $sidebar-hover-color;
}

.blogCard {
  color: $primary-color;
}

.blogCardLink {
  text-decoration: none;
}

li {
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
}
