$font-stack: 'Work Sans', Helvetica, sans-serif;
$heading-font-stack: 'Merriweather', sans-serif;
$background-color: #051622;
$accent-color: #FFCF43;
$text-color: #b5f1ff;
$highlight-color: #6EFFC4;
$white: #EEEEEC;
$sidebar-color: $text-color;
$sidebar-text-color: #CCCCCC;
$selected-text-color: #FFFFFF;
$sidebar-hover-color: #79CDCD;
$card-color: #EEEEEE;
$nav-width: 160px;
