$font-stack: 'Work Sans', Helvetica, sans-serif;
$heading-font-stack: 'Patua One', cursive;
$background-color: #051622;
$accent-color: #FFCF43;
$text-color: #7ED5EA;
$highlight-color: #6EFFC4;
$sidebar-color: $text-color;
$sidebar-text-color: #CCCCCC;
$selected-text-color: #FFFFFF;
$sidebar-hover-color: #79CDCD;
$card-color: #EEEEEE;
$nav-width: 160px;
